Flask
gunicorn
requests
streamlit
langchain
langchain-huggingface
langchain-chroma
langchain-community
langchain-core
langchain-openai
pydantic
python-dotenv
huggingface-hub
unstructured
pypdf
python-docx
streamlit
langchain
langchain-huggingface
gunicorn
sentence-transformers
pysqlite3-binary