Flask
gunicorn
requests
streamlit
langchain
langchain-huggingface
langchain-chroma
langchain-community
langchain-core
langchain-openai
pydantic
python-dotenv
sentence-transformers
unstructured
pypdf
python-docx
langgraph
pysqlite3-binary